<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" charset="UTF-8" href="/style.css">
    <title>Our blog</title>
</head>
<body>
<script src="jquery-3.6.0.min.js"></script>
<!-------[1]HEADER
-------->
<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="nav_link" href="/">home</a>
            <a class="nav_link" href="###">services</a>
            <a class="nav_link" href="###">Portfolio</a>
        </nav>
        <button class="day_night" href="###">wds</button>
        <nav class="nav">
            <a class="nav_link" href="###">our team</a>
            <a class="nav_link" href="/our_blog">our blog</a>
            <a class="nav_link" href="###">Contact us</a>
        </nav>
    </div>
</header>

<div class="intro_blogs">
    <div class="container">
        <div class="titel_blogs">
            <div class="intro_features_text">
                <div class="intro_features_title">
                    <p>Our Blog</p>
                </div>
                <hr class="intro_features_line">
                <div class="intro_features_subtitle">
                    <p>Sed tempor ligula et metus dapibus molestie. Pellentesque molestie nec lorem sit amet gravida. Mauris augue enim, tristique sit amet vestibulum non, dictum eget erat. Integer consectetur a tellus at tincidunt.</p>
                </div>
            </div>
        </div>
        <!-- <script src="u_blog.js"></script> -->
        <!-- ================================================================================================ -->
        <div class="our_blogs">
            {% for post in blog_posts %}
                <div class="ourBlogs notNull">
                    <img src="{{post.photo.photo}}" class="ob_img" />
                    <div class="ob_title">
                        <p>{{ post.title }}</p>
                    </div>
                    <div class="ob_text">
                        <p>{{ post.text }}</p>
                    </div>
                    <a href="#" class="ob_fullLink">
                        <p>Read more</p>
                    </a>
                </div>
            {% endfor %}
            <!-- ================================================================================================ -->
        </div>
        <div class="slider_blog">
            <div class="slide_left">
                <a href="/list_blog{{tmp_carent - 1}}" class="slc_list slc_rl"><i class="slc_left"></i></a>
            </div>
            <ul class="sl_blog">
                {% for list_curent in number_list %}
                    {% if list_curent == curent %}
                    <li class="hr_curent"><a href="/list_blog{{list_curent}}" class="ob_fullLink"><h3 {{this_list}}>{{list_curent}}</h3></a></li>
                    {% else %}
                    <li class="hr_curent"><a href="/list_blog{{list_curent}}" class="ob_fullLink"><h3>{{list_curent}}</h3></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="slide_right">
                <a href="/list_blog{{tmp_carent + 1}}" class="slc_list slc_rl"><i class="slc_right"></i></a>
            </div>
        </div>

    </div>
</div>
<!-------- footer
--------->
<footer class="footer">
    <div class="container">
        <div class="container_footer">
            <div class="f_item">
                <ul class="fi_media">
                    <li><a href="#" class="i_media"><i class="media_i1"></i></a></li>
                    <li><a href="#" class="i_media"><i class="media_i2"></i></a></li>
                    <li><a href="#" class="i_media"><i class="media_i3"></i></a></li>
                    <li><a href="#" class="i_media"><i class="media_i4"></i></a></li>
                    <li><a href="#" class="i_media"><i class="media_i5"></i></a></li>
                </ul>
            </div>
            <div class="f_text">
                <p>© 2014 WebDesign Studio. All rights reserved.
                    Designed and developed by pcklab.com</p>
            </div>
        </div>
    </div>
</footer>
<script src="/style.js"></script>
</body>
</html>
