
body{
    margin: 0;/*Убирает стандартные оцтупы*/
    font-family: 'Open Sans', sans-serif;/*Задаем шрифт для body*/
    font-size: 14px;/*Задаем размер шрифта*/
    color: #606060; /*Задаем свет шрифта*/
    font-weight: 400;  /* жжирность шрифта*/
    background-color: #fff; /*Цвет фона для body*/
}
body.the_night{
    background-color: #000000;
    color: #a5a8a9;
}
button {
    font-style: none;
    background-color: #00000000;
    border: 0;
}
*, 
*:before,
*:after {
    margin: 0; /*Убираем все оцтупы*/
    box-sizing: border-box; /*Фиксируем размер блоков,  оцтупы не будут влиять на размер блока*/
}
h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Убираем все отступы у всех заголовков*/
}
p {
   margin: 0 0 10px 0; /*также убераем отступ текста <p> сверху, слува и справа, снизу оставляем 10*/
}
a {
    text-decoration: none;
}
ul, li {
    padding: 0;
    list-style: none;
}
/* ----------------
    Container
=================*/ 
.container {
    width: 100%;/*Минимальная ширина контейнера на весь экран*/
    max-width: 1200px;/* Максимальна ширина контейнера*/
    margin: 0 auto; /*Выравниваем его по центру*/
}

/* ----------------
    Header
=================*/    
.header{
    padding: 30px 0; /*Оцтупы в сверху и снизу 30px left and right 0px*/  
    height: 110px; /*Высота шапки (Header)*/
    background-color: white ; /*Цвет фона шапки (Header)*/
    opacity: .9; /*Делает прозрачность фона (90% видимости) */
    position: absolute; /*Закрепляет по верх элементов (вторым слоем)*/
    width: 100%; /*ширина на весь экран*/
    top: 0; /*позиция высота 0*/
    left: 0; /* позиция слева 0*/
    z-index: 1000; /* по верх всех элементов*/
}
body.the_night > .header{
    background-color: #000000;
}
/* ----------------
Nav
=================*/  
.nav {
    align-items: center; /*Размещает блоки внутри nav по центру*/
    display: flex; /*все блоки в нутри header_inner буду работать по flex*/
    justify-content: space-between; /*Значение flax  распологает содержимое header_inner на равные растояния друг от друга*/
    font-size:  14px; /*Размер шрифта для навигации*/
    font-weight: 400;/*стиля шрифта 400 = Regular для Open Sans*/
    text-transform: uppercase; /*Делает буквы большие (ВСЕ БУКВЫ ЗАГЛАВНЫЕ)*/ 
    width: 100%;  
}
.header > .container {
    display: flex;
    flex-direction: row;
}
.nav_link{
    margin-left: 10px; /*Оцтуп у каждой ссылки с лево*/
    margin-right: 10px; /*Оцтуп у каждой ссылки с права*/
    color: #7f8c8d; /*Цвет шрифта для ссылок*/
    text-decoration: none; /*Убирает подчеркивание под ссылками*/
    transition: .1s linear; /*Плавный переход 0.1сек. к стилю ,     nav_link:hover */
}

.day_night{
    margin: 0 70px;
    font-family: 'Lato', sans-serif; /*Устанавливаем стиль шрифта для класса <p> внутри nav*/
    font-size:  40px; /*Размер шрифта <p> внутри nav*/
    font-weight: 900; /*стиля шрифта <p> внутри nav 900 = black для Lato */
    text-transform: uppercase; /*Делает буквы большие (ВСЕ БУКВЫ ЗАГЛАВНЫЕ) для <p> внутри nav*/
    color: black;/*Цвет шрифта <p> внутри nav*/
    text-decoration: none; /*Убирает подчеркивание под ссылками*/
}
body.the_night > .header > .container > .day_night {
    color: #ffffff;
}
.nav_link:hover {
    color: #2980b9; /*Цвет шрифта для ссылок при навидение*/
}

.nav_link:first-child {
    margin-left: 10px; /*Делает оцтуп у первой ссылки nav_link*/
}
.nav_link:last-child {
    margin-right: 10px; /*Делает оцтуп у последней ссылки nav_link*/
}

/* ----------------
Intro
=================*/ 

.intro > .container{
    display: flex; /*все блоки в нутри буду работать по flex*/
    flex-direction: column; /*каждый элемент будет начинаться с новой строки*/
    justify-content: space-between; /*Элементы распалагают по центру*/
    min-height: max-content;
    height: 260px;
}
.intro {
    display: flex; /*все блоки в нутри буду работать по flex*/
    flex-direction: column; /*каждый элемент будет начинаться с новой строки*/
    justify-content: center; /*Элементы распалагают по центру*/
    height: 700px; /*Высота блока intro*/
    padding: 110px;/* Отступ который равен высоты шапки*/
    background:#2f3030 url(static/image__site/image__start.jpg) center /cover; /*В начале цвет фона на случай если не прогрузиться картинка,"url(адрес картинки)"- картинка вместо фона,center - распалагает ее по центру, /cover - распределяет на всю ширину и высоту блока*/
}
body.the_night > .intro{
    background:#000000 url(static/image__site/image__start_night.jpg) center /cover; 
}
.container_intro{
    margin: 0 auto; /*Выравниваем его по центру*/
    min-width: 310px; /*Задаем минимальную ширину*/
    max-width: max-content; /*Максимальна ширина на весь контент*/
    background-color: #2f3030;/*цвет фона*/
    border:1px solid #fff; /*толшина рамки, размер рамки , цвет рамки*/
    opacity: .80;/* видемость 80%*/
    border-radius: 25px;/* закругления для фона*/
    padding: 5px; /*Оцтупы*/
}
body.the_night > .intro > .container > .container_intro{
    opacity: 1;
    background:none;/*цвет фона*/
    border:0; /*толшина рамки, размер рамки , цвет рамки*/
}
.intro_inner {
    display: flex; /*все блоки в нутри буду работать по flex*/
    flex-direction: column; /*каждый элемент будет начинаться с новой строки*/
    justify-content: space-between; /*Элементы распалагают по центру*/
    width: 100%;/* ширина на весь экран но не больше 880*/
    max-width: 880px;/* максимальная ширина*/
    margin: 0 auto;/* размещение по центру*/
    min-height: 130px; /*Задаем минимальную высоту*/
    max-height: max-content; /*Максимальная высота по контенту*/
}

.intro_title {
    width: 100%;/* ширина на весь экран но не больше 880*/
    max-width: 880px;/* максимальная ширина*/
    font-family: 'Lato', sans-serif; /*Устанавливаем стиль шрифта*/
    font-size:  50px; /*Размер шрифта*/
    font-weight: 900; /*стиля шрифта  900 = black для Lato */
    color: white;/*Цвет шрифта*/
    text-transform: uppercase; /*Делает буквы большие (ВСЕ БУКВЫ ЗАГЛАВНЫЕ)*/
    text-align: center; /*Размещение текста по центру*/
    line-height: 1; /*Отсутп между буквами в % соотнашение от font-size:  50px; */

}
.intro_subtitle {
    font-family: 'Lato', sans-serif; /*Устанавливаем стиль шрифта*/
    font-size:  16px; /*Размер шрифта*/
    font-weight: 300; /*стиля шрифта  300 = Light для Lato */
    color: white;/*Цвет шрифта*/
    text-align: center; /*Размещение текста по центру*/
    line-height: 1; /*Отсутп между буквами в % соотнашение от font-size:  50px; */
    padding: 0 20px; /*Оцтупы*/
}

.intro_UP, .intro_down {
    display: flex; /*устанавливаем значение flex для элементов внутри*/
    justify-content: center; /* размещает элементы по центру*/
    align-items: center; /*Размещает блоки внутри nav по центру*/
}
.intro_UP > p, .intro_down > p{
    margin: 0; /*Убираем отступ снизу - который мы задавали изначально в 10px*/
}
.intro_dot{
    color: #979898; /*Цвет кружков*/
}
.intro_dow_line{
    border-top:1px solid #979898; /*Размер, длина (сплошная), цвет верхней полоски*/
    border-bottom: 1px solid #979898; /*Размер, длина (сплошная), цвет нижней полоски*/
    padding-top: 2px; /*Оцтуп сверху*/
    width: 100px; /*Ширина блока*/
    opacity: .80; /*прозрачность*/
}

/* ----------------
Intro
=================*/ 

.container_button{
    margin: 0 auto; /*Выравниваем его по центру*/
    max-width: 300px; /*Задаем минимальную ширину*/
    min-width: max-content;
    max-height: 60px; /*Задаем минимальную высоту*/
    min-height: max-content;
    display: flex; /*устанавливаем значение flex для элементов внутри*/
    justify-content: center; /* размещает элементы по центру*/
    align-items: center; /*Размещает блоки внутри nav по центру*/
    
}

.button {
    color: #fff; /*цвет текста и рамки*/
    border: 1px solid; /*размер рамки + сплошная на весь блок*/
    padding: 19px 39px; /* оцтупы вер-низ , лево-право*/
    border-radius: 1px; /* закругление рамки*/
    text-transform: uppercase; /* большой шрифт*/
    text-decoration: none; /* убрать полоску под ссылкой*/
    font-family: 'Lato', sans-serif; /* стиль шрифта*/
    font-size:  14px; /* размер шрифта*/
    font-weight: 300;  /* жжирность шрифта*/
}

.button:hover {
    color: #2980b9;
}

.button--start {
    background-color: #2f3030;/*цвет фона*/
    opacity: .80;/* видемость 80%*/
    border-radius: 1px;/* закругления для фона*/
}

body.the_night > .intro > .container > .container_button > .button--start{
    opacity: 1;
    background:none;/*цвет фона*/
}

/* ----------------
intro_FEATURES
=================*/ 
.intro_features_background{
    display: flex; /*все блоки в нутри буду работать по flex*/
    flex-direction: column; /*каждый элемент будет начинаться с новой строки*/
    justify-content: center; /*Элементы распалагают по центру*/
    height: 435px; /*Высота блока*/
    background:#ffffff url(static/image__site/Background_1.png) center /cover; /*В начале цвет фона на случай если не прогрузиться картинка,"url(адрес картинки)"- картинка вместо фона,center - распалагает ее по центру, /cover - распределяет на всю ширину и высоту блока*/
}
body.the_night > .intro_features_background {
    background:#000000 url(static/image__site/Background_1_night.png) center /cover;
}
.container_features{
    display: flex; /*Устанавлием значение Флэкс*/
    justify-content: space-between; /*Значение flax  распологает содержимое header_inner на равные растояния друг от друга*/
    flex-direction: column; /* каждый элемент с новой строки*/
    height: 435px;
    padding: 65px 0;
}
.intro_features_text {
    text-align: center; /*отображения текста по центру*/
    margin: 0 auto; /*убираем оцтупы и выравниваем на центр*/
    max-height: 180px; /*максимальна высота*/
    height: 100%; /* высота на весь экран не больше максимальной*/
    max-width: 750px; /*максимальная ширина*/
    width: 100%; /* ширина на весь экран не больше максимальной*/
    
}

.intro_features_title{
    color: black; /*Цвет шрифта*/
    font-family: 'Lato', sans-serif; /* стиль шрифта*/
    font-size:  44px; /* размер шрифта*/
    font-weight: 300;  /* жжирность шрифта*/
    margin-bottom: 35px; /*оцтуп снизу*/
}
.intro_features_text.the_night > .intro_features_title {
    color: #ffffff;
}

.intro_features_line{
    width: 150px; /* ширина линиии*/
    background-color: #a5a8a9; /*цвет линии*/
    margin: 0 auto; /*расположение по центру*/
    border-radius: 1px; /*закругление*/
    border: 0; /*убираем рамку*/
    height: 1px; /*толщина линии*/
    opacity: .80; /*прозрачность*/
}
.intro_features_subtitle{
    font-family: 'Open Sans', sans-serif;/*Задаем шрифт для body*/
    font-size: 14px;/*Задаем размер шрифта*/
    color: #606060; /*Задаем свет шрифта*/
    font-weight: 400;  /* жжирность шрифта*/
    margin-top: 35px; /*оцтуп снизу*/
}

.features_item  {
    display: inline-flex;
    justify-content:center;
}
.features_item > li {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 136px;
    height: 100%;
    max-height: 75px;
}

.fi_link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000000; 
    font-weight: 400; 
    text-decoration: none;
    transition: .2s linear;
}
.features_item.the_night > li > .fi_link{
    color: #c9c9c9;
}
.fi_link > i {
    height: 100%;
    max-height: 33px;
    width: max-content;
    margin: auto;
    margin-bottom: 25px;
    transition: .2s linear;
}
.fi_img_1{
    content: url(static/features/feature_1.png);
}
.fi_img_2{
    content: url(static/features/feature_2.png);
}
.fi_img_3{
    content: url(static/features/feature_3.png);
}
.fi_img_4{
    content: url(static/features/feature_4.png);
}
.fi_img_5{
    content: url(static/features/feature_5.png);
}
.features_item.the_night > li > .fi_link >.fi_img_1{
    content: url(static/features/feature_1n.png);
}
.features_item.the_night > li > .fi_link >.fi_img_2{
    content: url(static/features/feature_2n.png);
}
.features_item.the_night > li > .fi_link >.fi_img_3{
    content: url(static/features/feature_3n.png);
}
.features_item.the_night > li > .fi_link >.fi_img_4{
    content: url(static/features/feature_4n.png);
}
.features_item.the_night > li > .fi_link >.fi_img_5{
    content: url(static/features/feature_5n.png);
}
.features_item.the_night > li > .fi_link:hover, .fi_link:hover {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #2980b9; 
    font-weight: 400; 
    text-decoration: none;
}

.features_item.the_night > li > .fi_link:hover > i,.fi_link:hover > i {
    height: 100%;
    max-height: 50px;
    width: max-content;
    margin: auto;
    margin-bottom: 25px;
}
.features_item.the_night > li > .fi_link:hover >.fi_img_1,
.fi_link:hover >.fi_img_1{
    content: url(static/features/feature_1u.png);
}
.features_item.the_night > li > .fi_link:hover >.fi_img_2,
.fi_link:hover >.fi_img_2{
    content: url(static/features/feature_2u.png);
}
.features_item.the_night > li > .fi_link:hover >.fi_img_3,
.fi_link:hover >.fi_img_3{
    content: url(static/features/feature_3u.png);
}
.features_item.the_night > li > .fi_link:hover >.fi_img_4,
.fi_link:hover >.fi_img_4{
    content: url(static/features/feature_4u.png);
}
.features_item.the_night > li > .fi_link:hover >.fi_img_5,
.fi_link:hover >.fi_img_5{
    content: url(static/features/feature_5u.png);
}

/* ----------------
clients_block
=================*/ 

.container_clients {
    display: flex; 
    justify-content: space-between; 
    flex-direction: column; 
    height: 465px;
    padding: 65px 0;
}
.clients_list {
    height:  100%;
    max-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.scrol_list, .scrol_list >li  {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.slc_list {
    width: max-content;
    margin: auto;
}
.slc_rl {
    width: 100%;
    max-width: 15px;
    
}
.scrol_list {
    height:  100%;
}
.slc_left {
    content: url(static/features/arrow_l.png);
}
body.the_night > .container >
.container_clients > .clients_list >
.slc_list.slc_rl > .slc_left {
    content: url(static/features/arrow_ln.png);
}
.slc_right {
    content: url(static/features/arrow_r.png);
}
body.the_night > .container >
.container_clients > .clients_list >
.slc_list.slc_rl > .slc_right {
    content: url(static/features/arrow_rn.png);
}
.ic_img_1 {
    content: url(static/logo_clients/l1.png);
}
.ic_img_2 {
    content: url(static/logo_clients/l2.png);
}
.ic_img_3 {
    content: url(static/logo_clients/l3.png);
}
.ic_img_4 {
    content: url(static/logo_clients/l4.png);
}
.ic_img_5 {
    content: url(static/logo_clients/l5.png);
}

body.the_night > .container >
.container_clients > .clients_list >
.slc_list.slc_rl:hover > .slc_left,
.slc_list.slc_rl:hover > .slc_left {
    content: url(static/features/arrow_lu.png);
}
body.the_night > .container >
.container_clients > .clients_list >
.slc_list.slc_rl:hover > .slc_right,
.slc_list.slc_rl:hover > .slc_right {
    content: url(static/features/arrow_ru.png);
}
/* ================================================================================================================================================================================================================================================ */
body.the_night > .container >
.container_clients >.intro_features_text > .intro_features_title {
    color: #ffffff;
}
body.the_night > .container >
.container_clients > .clients_list >
ul {
    background-color: #c9c9c9;
    border-radius: 50px;
}

/* ----------------
    footer
=================*/ 


footer {
    height: 60px;
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.container_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 60px;
    height: 100%;
}
.f_text {
    width: 100%;
    max-width: 260px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #666666; 
    font-weight: 400; 
    text-align: right;   
    margin-top: 12px;
}
.f_text > p{
    margin: 0;
}
.f_item {
    width: 100%;
    max-width: 170px;
    margin-top: 22px;
}
.fi_media > li{
    width: 100%;
    max-width: 35px;
}
.i_media {
    display: flex;
    justify-content: center;
}
.fi_media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.media_i1 {
    content: url(static/social_media/Twitter.png);
}
.media_i2 {
    content: url(static/social_media/Facebook.png);
}
.media_i3 {
    content: url(static/social_media/Google.png);
}
.media_i4 {
    content: url(static/social_media/Pinterest.png);
}
.media_i5 {
    content: url(static/social_media/RSS.png);
}
.i_media:hover > .media_i1 {
    content: url(static/social_media/Twitter_u.png);
}
.i_media:hover > .media_i2 {
    content: url(static/social_media/Facebook_u.png);
}
.i_media:hover > .media_i3 {
    content: url(static/social_media/Google_u.png);
}
.i_media:hover > .media_i4 {
    content: url(static/social_media/Pinterest_u.png);
}
.i_media:hover > .media_i5 {
    content: url(static/social_media/RSS_u.png);
}




/* --------------------------------------------------- */
/*                      OUR BLOG                       */
/* --------------------------------------------------- */


.intro_blogs{
    margin-top: 110px;
    height: max-content;
    min-height: 890px;
    background:#ffffff url(static/image__site/Background_1.png)
}
.intro_blogs> .container {
    padding: 60px 0;
}
.titel_blogs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-height: 265px;
    margin-bottom: 60px;
}
.our_blogs {
    height: max-content;
    max-height: max-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ourBlogs.notNull {
    width: 100%;
    max-width: 50%;
    height: max-content;
    padding: 35px;
}
.ob_img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 460px;
    width: 100%;
}
.ourBlogs.notNull > .ob_title{
    margin-bottom: 20px;
    width: 100%;
}

.ourBlogs.notNull > .ob_text {
    margin-bottom: 20px;
    width: 100%;
}
.ourBlogs.notNull > .ob_fullLink {
    margin-bottom: 20px;
    width: 100%;
    
}
.ob_title > p {
    font-family: 'Lato', sans-serif; 
    font-size:  20px; 
    font-weight: 400;
    color: black; 
    margin: 20px 0 auto;
    text-align: center;
}
.ob_text > p {
    text-align: center;
    margin: 0;
}

.ob_fullLink > p {
    text-align: center;
    margin: 0;
    transition: .1s linear;
}
.ob_fullLink {
    font-family: 'Open Sans', sans-serif;/*Задаем шрифт для body*/
    font-size: 14px;/*Задаем размер шрифта*/
    color: #606060; /*Задаем свет шрифта*/
    font-weight: 400;  /* жжирность шрифта*/
}
.intro_features_text.the_night > .intro_features_line {
    background-color:#ffffff;
}
.intro_features_text.the_night > .intro_features_subtitle {
    color: #ffffff;
}
body.the_night > .intro_blogs{
    background:#000000 url(static/image__site/Background_1_night.png)
}
body.the_night > .intro_blogs > .container > 
.our_blogs > .ourBlogs.notNull > .ob_title > p {
    color: #ffffff;
}
.ob_fullLink:hover > p {
    text-align: center;
    margin: 0;
    color: #2980b9;
}

/* --------------------------------------------------- */
/*                      CONNECTING                       */
/* --------------------------------------------------- */

.connecting_block {
    width: max-content;
    padding: 0 20px;
    min-height: 320px;
    height: max-content;
    max-height: max-content;
    display: flow-root;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #c9c9c9; /*цвет линии*/
    margin: 0 auto; /*расположение по центру*/
    border-radius: 10px; /*закругление*/
    border: 0; /*убираем рамку*/
    height: 1px; /*толщина линии*/
    opacity: .70; /*прозрачность*/
}
body.the_night > .intro_blogs > .container > 
.connecting_block > form >.block_input > .ob_title > p {
    color: #ffffff;
}
.block_input {
    text-align: center;
    padding-bottom: 50px;
}
.inputs, .button--start,.contin {
    text-align: center;
    color: #ffffff;
}

body.the_night > .intro_blogs > .container > 
.connecting_block  {
    background-color: #606060; /*цвет линии*/
    margin: 0 auto; /*расположение по центру*/
    border-radius: 10px; /*закругление*/
    border: 0; /*убираем рамку*/
    height: 1px; /*толщина линии*/
    opacity: .70; /*прозрачность*/
}

.slider_blog{
    width: 100%;
    min-width: max-content;
    display: flex;
    justify-content: center;  
}
.sl_blog {
    display: flex;
    justify-content: center;
    text-align: center;
    
}
body.the_night > .intro_blogs >
.container > .slider_blog > .slide_left>
.slc_list.slc_rl > .slc_left {
    content: url(static/features/arrow_ln.png);
}
body.the_night > .intro_blogs >
.container > .slider_blog >.slide_right >
.slc_list.slc_rl > .slc_right {
    content: url(static/features/arrow_rn.png);
}
body.the_night > .intro_blogs >
.container > .slider_blog > .slide_left>
.slc_list.slc_rl:hover > .slc_left,
.slc_list.slc_rl:hover > .slc_left {
    content: url(static/features/arrow_lu.png);
}
body.the_night > .intro_blogs >
.container > .slider_blog >.slide_right >
.slc_list.slc_rl:hover > .slc_right,
.slc_list.slc_rl:hover > .slc_right {
    content: url(static/features/arrow_ru.png);
}
.slide_left, .slide_right {
    width: 40px;
    text-align: center;
}
.sl_blog {
    display: flex;
    justify-content: space-between;
    
}
.hr_curent {
    width: 40px;
    text-align: center;
}
body.the_night > .intro_blogs >
.container > .slider_blog > .sl_blog > .hr_curent >
.ob_fullLink:hover > h3 {
    text-align: center;
    margin: 0;
    color: #2980b9;
}
.ob_fullLink:hover > h3 {
    text-align: center;
    margin: 0;
    color: #2980b9;
}
.number_link > h3 {
    text-align: center;
    margin: 0;
    color: #2980b9;
    font-size: 22px;
}
.this_list{
    text-align: center;
    margin-bottom: 5px;
    color: #2980b9;
    font-size: 22px;

}